
@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #e29911 0%, #96e6a1 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    display: flex;
    width: 100vw;
    height: 60px;
    background: #222;
    margin: 0;
    padding: 0;
}
ul.navbar li a:hover {
    background-color: #1ec0b3;
}
.navbar li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    list-style: none;
}

#bouton {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    color: #fff;
    text-decoration: none;
    border-radius: 0;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 60px;
}

.vert { background: #4CAF50; }
.jaune { background: #FFC107; }
.orange { background: #FF9800; }
.red { background: #F44336; }
.bleue { background: #2196F3; }
h2 {
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 20px;
}
.main-center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInSlide 1s ease-out;
}
.calculatrice {
    background-color: rgb(33, 152, 189);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 5px 15px rgba(55, 24, 11, 0.2);
}
.ecran {
    height: 50px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    font-size: 25px;
}
.bouttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #fff;
    box-shadow: 0 3px #a8a8a8;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s;
}

button[data-key="8"] {
    background-color: #ff9900;
    font-weight: bold;
    color: white;
}

button[data-key="13"] {
    background-color: #36e700;
    grid-column: span 2;
}