@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(120deg, #d4fc79 0%, #06d6a0 100%);
}

.navbar {
    display: flex;
    width: 100vw;
    height: 60px;
    background: #222;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

ul.navbar {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
}

ul.navbar li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 60px;
    text-align: center;
    transition: background 0.2s;
}

ul.navbar li a:hover,
#bouton:hover {
    background-color: #1ec0b3;
}

.vert { background: #4CAF50; }
.jaune { background: #FFC107; color: #222; }
.orange { background: #FF9800; }
.red { background: #F44336; }
.bleue { background: #2196F3; }

.main-center {
    margin-top: 100px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #DCD9D4;
    box-shadow: 0 0 10px #080808;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%),
                      radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light, screen;
    width: 90%;
    max-width: 500px;
    animation: fadeInSlide 1s ease-out;

}

.Verificateur {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Verificateur label {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #000;
    text-align: center;
}

.Verificateur input[type="number"],
.Verificateur button {
    font-size: 1em;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-image: linear-gradient(120deg, #79e8fc 0%, #96e6a1 100%);
    width: 70%;
    max-width: 300px;
}

.Verificateur button {
    cursor: pointer;
    color: white;
    background-color: #4CAF50;
    transition: background 0.2s;
}

.Verificateur button:hover {
    background-color: #388E3C;
}

#resultat {
    margin-top: 20px;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}

h2 {
    text-align: center;
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    color: black;
    border: 1px solid #ccc;
}
